[submodule "modules/common"]
	path = modules/common
	url = https://github.com/aerospike/aerospike-common
[submodule "modules/mod-lua"]
	path = modules/mod-lua
	url = https://github.com/aerospike/aerospike-mod-lua
[submodule "modules/lua-core"]
	path = modules/lua-core
	url = https://github.com/aerospike/aerospike-lua-core
[submodule "modules/ck"]
	path = modules/ck
	url = https://github.com/aerospike/ck
