[submodule "msgpack"]
	path = msgpack
	url = git@github.com:aerospike/msgpack
[submodule "aerospike-common"]
	path = aerospike-common
	url = git@github.com:cstivers78/aerospike-common.git
[submodule "aerospike-mod-lua"]
	path = aerospike-mod-lua
	url = git@github.com:cstivers78/aerospike-mod-lua.git
