Name: Aerospike
Version: @VERSION@
Release: 1
Summary: The Aerospike Libevent2 SDK
License: Proprietary
Group: Application
BuildArch: x86_64
%description
The Aerospike libevent2 SDK allows developer to interface with  
Aerospike database using the libevent2 framework

%define _topdir dist
%define __spec_install_post /usr/lib/rpm/brp-compress

%package libevent2-sdk
Summary: Aerospike Libevent2 SDK
Group: Applications
%description libevent2-sdk
This package contains all of the code for running the Aerospike libevent SDK.
%files libevent2-sdk
%defattr(-,root,root) 
/usr/lib/libev2citrusleaf.a
/usr/include/citrusleaf/*.h
/usr/include/citrusleaf_event2/*.h
